@page
@model InfertilityTreatmentSystem.Pages.BlogPage.CreateModel
@{
    ViewData["Title"] = "Create Blog";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="NewBlog.Title" class="form-label"></label>
        <input asp-for="NewBlog.Title" class="form-control" />
        <span asp-validation-for="NewBlog.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewBlog.Content" class="form-label"></label>
        <textarea asp-for="NewBlog.Content" class="form-control" rows="4"></textarea>
        <span asp-validation-for="NewBlog.Content" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewBlog.BlogImage" class="form-label"></label>
        <input asp-for="NewBlog.BlogImage" class="form-control" />
        <span asp-validation-for="NewBlog.BlogImage" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
